.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.item-container .name {
  max-width: 80%;
  word-wrap: break-word;
}

.edit-button,
.delete-button {
  cursor: pointer;
}

.edit-button:hover {
  color: blue;
}

.delete-button:hover {
  color: red;
}

.edit-button {
  margin-right: 15px;
}